*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url('./image/pexels-pixabay-128867.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  height: 100vh;
}